/*

(non-styleguide comments here)

---
section: 1.0

description: Links for silly and less silly occasions

div_class: 
    party               : Wild and crazy class colors for container divs


anchor_class:
    silly_link          : The link you laugh at, not with
    less_silly_link     : Can't take a joke


template: |
    <div class="{{div_class}}">
        <a class="{{anchor_class}}">
    </div>
...

(other non-styleguide comments go here)

*/

.party .silly_link {
    color: blue;
}

.party .less_silly_link {
    color: red;
}
