/*
---
section: 1.1
description: A concise example.
button_class:
    red-link: A red module link.
    blue-link: A blue module link.
template: |
    <div class="module">
        <a class="btn {{ button_class }}">Button</a>
    </div>
...
*/
.module {
    padding: 10px;
    background: #eee;
    border: solid 1px #ddd;
    border-radius: 5px;
}
.module .red-link { color: red; }
.module .blue-link { color: blue; }


/*
---
section: 1.2
description: Button styles, FTW.

button_class:
    btn: A normal button.
    btn btn-mini: A mini button.
    btn btn-small: A small button.
    btn btn-large: A large button.
    btn btn-large btn-primary: A large, primary button.
    btn btn-large btn-bold: A large, bold button.

template: |
    <button class="{{ button_class }}">Button text</button>
...
*/
.btn-bold {
    font-weight: bold;
}


/*
---
section: 2.0
description: Some form examples.

input_class:
    input-mini: A mini input
    input-small: A small input
    input-medium: A medium input
    input-large: A large input
    input-xlarge: An extra large input
    input-xxlarge: An extra, extra large input

template: |
    <input class="{{ input_class }}" type="text" placeholder=".{{ input_class }}">
...
*/

.input-medium {
    border-color: red;
}
